<div class="table-container">
  <nz-table #basicTable [nzData]="tarefas">
    <thead>
      <tr>
        <th>Número</th>
        <th>Título</th>
        <th>Responsável</th>
        <th>Prioridade</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (tarefa of basicTable.data; track tarefa.id) {
      <tr>
        <td>{{ tarefa.id }}</td>
        <td>{{ tarefa.titulo }}</td>
        <td>{{ tarefa.responsavel.nome }}</td>
        <td>{{ tarefa.prioridade }}</td>
        <td>{{ formatarData(tarefa.data) }}</td>
        <td>
          <a>Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openDeleteModal(tarefa)">Excluir</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openCompleteModal(tarefa)">Concluir</a>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>

  @if (selectedTarefa && showDeleteModal) {
  <app-modal-delete-tarefa
    [tarefa]="selectedTarefa"
    [isLoading]="isLoadingSubmit"
    (onConfirm)="onModalDeleteConfirm($event)"
    (onCancel)="onModalCancel()"
  >
  </app-modal-delete-tarefa>
  } @if (selectedTarefa && showCompleteModal) {
  <app-modal-complete-tarefa
    [tarefa]="selectedTarefa"
    [isLoading]="isLoadingSubmit"
    (onConfirm)="onModalCompleteConfirm($event)"
    (onCancel)="onModalCancel()"
  >
  </app-modal-complete-tarefa>
  }
</div>
