<div class="table-container">
  <nz-table #basicTable [nzData]="tarefas">
    <thead>
      <tr>
        <th>Número</th>
        <th>Título</th>
        <th>Responsável</th>
        <th>Prioridade</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (tarefa of basicTable.data; track tarefa.id) {
      <tr>
        <td>{{ tarefa.id }}</td>
        <td>{{ tarefa.titulo }}</td>
        <td>{{ tarefa.responsavel.nome }}</td>
        <td>{{ tarefa.prioridade }}</td>
        <td>{{ formatarData(tarefa.data) }}</td>
        <td>
          <a (click)="openUpdateModal(tarefa)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openDeleteModal(tarefa)">Excluir</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openCompleteModal(tarefa)">Concluir</a>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>

  <app-modal-delete-tarefa
    [(isVisible)]="showDeleteModal"
    [tarefa]="selectedTarefa!"
    (onComplete)="onModalDeleteConfirm()"
    (isVisibleChange)="onModalCancel()"
  >
  </app-modal-delete-tarefa>

  <app-modal-complete-tarefa
    [(isVisible)]="showCompleteModal"
    [tarefa]="selectedTarefa!"
    (onComplete)="onModalCompleteConfirm()"
    (isVisibleChange)="onModalCancel()"
  >
  </app-modal-complete-tarefa>

  <app-modal-create-and-update-tarefa
    [(isVisible)]="showUpdateModal"
    [tarefa]="selectedTarefa!"
    (onUpdateTarefaEmit)="onModalUpdateConfirm()"
    (onCancel)="onModalCancel()"
  >
  </app-modal-create-and-update-tarefa>
</div>
