<app-filters [responsaveis]="responsaveis" (aplicarFiltros)="onFiltersChange($event)"></app-filters>

<div class="table-section">
  <button class="create-button" nz-button nzType="primary" (click)="showModalCreateTarefa()">
    <span nz-icon nzType="plus"></span>
    Cadastrar Tarefa
  </button>

  <div class="table-container">
    <app-table
      (onDeleteTarefaEmit)="loadTarefas()"
      (onCompleteTarefaEmit)="loadTarefas()"
      (onUpdateTarefaEmit)="loadTarefas()"
      [tarefas]="tarefas"
    >
    </app-table>
  </div>
</div>

<app-modal-create-and-update-tarefa
  [(isVisible)]="modalCreateTarefaIsVisible"
  (onCreateTarefaEmit)="loadTarefas()"
></app-modal-create-and-update-tarefa>
