<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <h3 class="login-form-title" nz-typography>Cadastro de usuário</h3>
  <nz-form-item class="login-form-item">
    <nz-form-control nzErrorTip="Por favor, preencha seu nome de usuário">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="Nome de usuário" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="login-form-item">
    <nz-form-control nzErrorTip="Por favor, preencha sua senha">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Senha" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin"></div>
  <button
    [nzLoading]="isLoading"
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Cadastrar-se
  </button>
  Ou
  <nav>
    <a routerLink="/">acesse agora!</a>
  </nav>
</form>
