.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 5px;
}

.login-form-button {
  width: 100%;
}

.login-form-item {
  margin-top: 10px;
}

.login-form-title {
  display: flex;
  justify-content: center;
}
